<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base target="_parent" />
</head>
<body>
    <style>
        #webfaceblurform {
            position: relative;
            left: 50px;
            height: 70px;
        }
    </style>
    <div id="webfaceblurform">
        <form method="post" action="/AdressForm/Post">
            <label>
                Browse site:
                <br>
                <input type="submit" value="Go" style=" width:60px" />
                <input type="text" name="path" size="100" />
            </label>
        </form>
    </div>
</body>
</html>



