
<html>
<head></head>
<body>
    <style>
        #webfaceblurform {
            position:relative;
            top:20px;
            left:50px;
            height: 70px;
        }
    </style>

    <hr />
    <div id="webfaceblurform">
        <form method="post" action="~/Default/Path">
            <label>
                Browse site:
                <input  type="text" name="path" width="300"/>
            </label>
            <input type="submit" value="Go" />
        </form>
    </div>
    <hr/>
    @RenderBody()
</body>
</html>